# Análise de sobre o valor de frete praticado em diferentes regiões

## Dúvida da área de negócios
* **Existe diferença no valor do frete praticado em regiões/cidades diferentes? Ou podemos aplicar as mesmas regras de subsídio de frete para qualquer localidade?**

* **Resposta:**

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.offline as py
import plotly.graph_objs as go
from datetime import datetime

In [6]:
%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

## Carregando bases de dados

In [7]:
df_customers = pd.read_csv('../datasets/olist_customers_dataset.csv', encoding='ISO-8859-1')
df_geolocation = pd.read_csv('../datasets/olist_geolocation_dataset.csv', encoding='ISO-8859-1')
df_order_items = pd.read_csv('../datasets/olist_order_items_dataset.csv', encoding='ISO-8859-1')
df_order_payments = pd.read_csv('../datasets/olist_order_payments_dataset.csv', encoding='ISO-8859-1')
df_order_reviews = pd.read_csv('../datasets/olist_order_reviews_dataset.csv', encoding='ISO-8859-1')
df_orders = pd.read_csv('../datasets/olist_orders_dataset.csv', encoding='ISO-8859-1')
df_products = pd.read_csv('../datasets/olist_products_dataset.csv', encoding='ISO-8859-1')
df_sellers = pd.read_csv('../datasets/olist_sellers_dataset.csv', encoding='ISO-8859-1')
df_product_category_name_translation = pd.read_csv('../datasets/product_category_name_translation.csv', encoding='ISO-8859-1')

## Base de Clientes

In [8]:
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

## Base de Lojistas

In [9]:
df_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

## Base de Geolocalizações

In [10]:
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

## Base de Pedidos

In [11]:
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

## Itens do pedido

In [12]:
df_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

## Forma de pagamento de cada pedido

In [13]:
df_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

## Retorno de clientes sobre a compra realizada

In [14]:
df_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela ...,2018-03-01 00:00:00,2018-03-02 10:26:53

## Dados cadastrais de cada produto

In [15]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

## Tradução das categorias de produtos

In [16]:
df_product_category_name_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [36]:
df_orders_freight_value = pd.DataFrame(columns=['customer_id', 'order_id', 'freight_value', 'customer_zip_code_prefix', 'customer_city', 'customer_state'])

In [34]:
for customer_id in df_customers['customer_id']:
    order_id = df_orders[df_orders['customer_id'] == customer_id]['order_id'].unique()[0]
    freight_value = df_order_items[df_order_items['order_id'] == order_id]['freight_value'].value()[0]
    customer_zip_code_prefix = df_customers[df_customers['customer_id'] == customer_id]['customer_zip_code_prefix'].value()[0]
    customer_city = df_customers[df_customers['customer_id'] == customer_id]['customer_city'].value()[0]
    customer_state = df_customers[df_customers['customer_id'] == customer_id]['customer_state'].value()[0]
    
    df_orders_freight_value =  df_orders_freight_value.append({'customer_id':customer_id,
                                                               'order_id':order_id,
                                                               'freight_value':freight_value,
                                                               'customer_zip_code_prefix':customer_zip_code_prefix,
                                                               'customer_city':customer_city,
                                                               'customer_state':customer_state}, ignore_index=True)

In [35]:
df_orders_freight_value

,customer_id,order_id,freight_value,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,00e7ee1b050b8499577073aeb2a297a1,"373 21.88 Name: freight_value, dtype: float64","0 14409 Name: customer_zip_code_prefix, dty...","0 franca Name: customer_city, dtype: object","0 SP Name: customer_state, dtype: object"
1,18955e83d337fd6b2def6b18a428ac77,29150127e6685892b6eab3eec79f59c7,"17931 46.48 Name: freight_value, dtype: flo...","1 9790 Name: customer_zip_code_prefix, dtyp...",1 sao bernardo do campo Name: customer_city...,"1 SP Name: customer_state, dtype: object"
2,4e7b3e00288586ebd08712fdd0374a03,b2059ed67ce144a36e2aa97d2c9e9ad2,"78217 17.79 Name: freight_value, dtype: flo...","2 1151 Name: customer_zip_code_prefix, dtyp...","2 sao paulo Name: customer_city, dtype: object","2 SP Name: customer_state, dtype: object"
3,b2b6027bc5c5109e529d4dc6358b12c3,951670f92359f4fe4a63112aa7306eba,"65237 23.36 Name: freight_value, dtype: flo...","3 8775 Name: customer_zip_code_prefix, dtyp...","3 mogi das cruzes Name: customer_city, dtyp...","3 SP Name: customer_state, dtype: object"
4,4f2d8ab171c80ec8364f7c12e35b23ad,6b7d50bd145f6fc7f33cebabd7e49d0f,"47297 22.25 Name: freight_value, dtype: flo...","4 13056 Name: customer_zip_code_prefix, dty...","4 campinas Name: customer_city, dtype: object","4 SP Name: customer_state, dtype: object"
5,879864dab9bc3047522c92c82e1212b8,5741ea1f91b5fbab2bd2dc653a5b5099,"38421 22.31 Name: freight_value, dtype: flo...","5 89254 Name: customer_zip_code_prefix, dty...","5 jaragua do sul Name: customer_city, dtype...","5 SC Name: customer_state, dtype: object"
6,fd826e7cf63160e536e0908c76c3f441,36e694cf4cbc2a4803200c35e84abdc4,"24098 7.78 Name: freight_value, dtype: float64","6 4534 Name: customer_zip_code_prefix, dtyp...","6 sao paulo Name: customer_city, dtype: object","6 SP Name: customer_state, dtype: object"
7,5e274e7a0c3809e14aba7ad5aae0d407,1093c8304c7a003280dd34598194913d,"7314 16.11 Name: freight_value, dtype: float64","7 35182 Name: customer_zip_code_prefix, dty...","7 timoteo Name: customer_city, dtype: object","7 MG Name: customer_state, dtype: object"
8,5adf08e34b2e993982a47070956c5c65,1ebeea841c590e86a14a0d7a48e7d062,"13522 14.1 Name: freight_value, dtype: float64","8 81560 Name: customer_zip_code_prefix, dty...","8 curitiba Name: customer_city, dtype: object","8 PR Name: customer_state, dtype: object"
9,4b7139f34592b3a31687243a302fa75b,7433cbcc783205509d66a5260da5b574,"51134 22.57 Name: freight_value, dtype: flo...","9 30575 Name: customer_zip_code_prefix, dty...","9 belo horizonte Name: customer_city, dtype...","9 MG Name: customer_state, dtype: object"
10,9fb35e4ed6f0a14a4977cd9aea4042bb,8428e578bb1cf839ae26a6b7615502b9,"58061 15.1 Name: freight_value, dtype: float64","10 39400 Name: customer_zip_code_prefix, dt...","10 montes claros Name: customer_city, dtype...","10 MG Name: customer_state, dtype: object"
11,5aa9e4fdd4dfd20959cad2d772509598,f86c5ed7048ac10eb88ec21c00f71892,"109323 23.23 Name: freight_value, dtype: fl...","11 20231 Name: customer_zip_code_prefix, dt...","11 rio de janeiro Name: customer_city, dtyp...","11 RJ Name: customer_state, dtype: object"
12,b2d1536598b73a9abd18e0d75d92f0a3,83d8f70418eefd96f37b483dff430305,"57920 18.31 Name: freight_value, dtype: flo...","12 18682 Name: customer_zip_code_prefix, dt...","12 lencois paulista Name: customer_city, dt...","12 SP Name: customer_state, dtype: object"
13,eabebad39a88bb6f5b52376faec28612,852d2f4d37773bcbc21c8e09a05a4ea5,"58493 8.4 Name: freight_value, dtype: float64","13 5704 Name: customer_zip_code_prefix, dty...","13 sao paulo Name: customer_city, dtype: ob...","13 SP Name: customer_state, dtype: object"
14,1f1c7bf1c9b041b292af6c1c4470b753,6c949e670b5d33dc8fb8ad25b6da4860,"47799 18.47 Name: freight_value, dtype: flo...","14 95110 Name: customer_zip_code_prefix, dt...","14 caxias do sul Name: customer_city, dtype...","14 RS Name: customer_state, dtype: object"
15,206f3129c0e4d7d0b9550426023f0a08,eac76692452422620996fe5e1a7f8bb0,"103375 40.23 Name: freight_value, dtype: fl...","15 13412 Name: customer_zip_code_prefix, dt...","15 piracicaba Name: customer_city, dtype: o...","15 SP Name: customer_state, dtype: object"
16,a7c125a0a07b75146167b7f04a7f8e98,72bab69c50432c6f94d8b50a5f84b69a,"50490 17.03 Name: freight_value, dtype: flo...","16 22750 Name: customer_zip_code_prefix, dt...","16 rio de janeiro Name: customer_city, dtyp...","16 RJ Name: customer_state, dtype: object"
17,c5c61596a3b6bd0cee5766992c48a9a1,ec28553b12bef4b538e5d7454464a1c6,"103984 9.44 Name: freight_value, dtype: flo...","17 7124 Name: customer_zip_code_prefix, dty...","17 guarulhos Name: customer_city, dtype: ob...","17 SP Name: customer_state, dtype: object"
18,9b8ce803689b3562defaad4613ef426f,17825f24877a9289214c301ae0c9424b,"10252 12.13 Name: freight_value, dtype: flo...","18 5416 Name: customer_zip_code_prefix, dty...","18 sao paulo Name: customer_city, dtype: ob...","18 SP Name: customer_state, dtype: object"
19,49d0ea0986edde72da777f15456a0ee0,ab797176e01c2fa3d13aa1fe3e63d9ee,"75299 25.63 Name: freight_value, dtype: flo...","19 68485 Name: customer_zip_code_prefix, dt...","19 pacaja Name: customer_city, dtype: object","19 PA Name: customer_state, dtype: object"
20,154c4ded6991bdfa3cd249d11abf4130,830d8b3e6875ef6165ffc33219ab4fea,"57609 18.0 Name: freight_value, dtype: float64","20 88034 Name: customer_zip_code_prefix, dt...","20 florianopolis Name: customer_city, dtype...","20 SC Name: customer_state, dtype: object"
21,690172ab319622688d3b4df42f676898,aaff8afa47c8426e414a6d908a97713c,75054 17.67 75055 17.67 75056 17.67 N...,"21 74914 Name: customer_zip_code_prefix, dt...",21 aparecida de goiania Name: customer_city...,"21 GO Name: customer_state, dtype: object"
22,2938121a40a20953c43caa8c98787fcb,0198c71148c2e08c7c52b860f640fa4e,"685 15.13 Name: freight_value, dtype: float64","22 5713 Name: customer_zip_code_prefix, dty...","22 sao paulo Name: customer_city, dtype: ob...","22 SP Name: customer_state, dtype: object"
23,237098a64674ae89babdc426746260fc,eac4ffbe456464bdc3ce5f001b6439c5,"103371 14.73 Name: freight_value, dtype: fl...","23 82820 Name: customer_zip_code_prefix, dt...","23 curitiba Name: customer_city, dtype: object","23 PR Name: customer_state, dtype: object"
24,cb721d7b4f271fd87011c4c83462c076,6cdc131d3c28253cd03cd0fbc3d5f938,"47914 10.21 Name: freight_value, dtype: flo...","24 8225 Name: customer_zip_code_prefix, dty...","24 sao paulo Name: customer_city, dtype: ob...","24 SP Name: customer_state, dtype: object"
25,f681356046d9fde60e70c73a18d65ea2,daf946e879dab6e7e6b3f968297c3fe3,"96487 7.78 Name: freight_value, dtype: float64","25 9121 Name: customer_zip_code_prefix, dty...","25 santo andre Name: customer_city, dtype: ...","25 SP Name: customer_state, dtype: object"
26,167bd30a409e3e4127df5a9408ebd394,d10eafa208521dc30796e6a26099b6a6,"92121 19.49 Name: freight_value, dtype: flo...","26 74310 Name: customer_zip_code_prefix, dt...","26 goiania Name: customer_city, dtype: object","26 GO Name: customer_state, dtype: object"
27,6e359a57a91f84095cc64e1b351aef8c,a8f5a2b22f55e0af45b300929d1fdc7d,"74133 17.6 Name: freight_value, dtype: float64","27 4571 Name: customer_zip_code_prefix, dty...","27 sao paulo Name: customer_city, dtype: ob...","27 SP Name: customer_state, dtype: object"
28,e0eea8f69a457b3f1fa246e44c9ebefd,3a6d41a4fe7a8e841b7c8e4b77d4e301,"25714 15.13 Name: freight_value, dtype: flo...","28 29311 Name: customer_zip_code_prefix, dt...",28 cachoeiro de itapemirim Name: customer_c...,"28 ES Name: customer_state, dtype: object"
29,e3109970a3fe8021d5ff82c577ce5606,0330631bdb2ec8c341f487ed9c22fc8b,"1368 12.79 Name: freight_value, dtype: float64","29 5528 Name: customer_zip_code_prefix, dty...","29 sao paulo Name: customer_city, dtype: ob...","29 SP Name: customer_state, dtype: object"
...,...,...,...,...,...,...
99411,da37711b17efd5f2539e8196ab215f04,c8203bb57639618630affac9e8e923dd,"88133 10.96 Name: freight_value, dtype: flo...","99411 4313 Name: customer_zip_code_prefix, ...","99411 sao paulo Name: customer_city, dtype:...","99411 SP Name: customer_state, dtype: object"
99412,6fb4f2354f36e554ac80141e9128f528,ab042583eff2cb1ffe2110a95da95d4b,"75064 18.23 Name: freight_value, dtype: flo...","99412 99043 Name: customer_zip_code_prefix,...","99412 passo fundo Name: customer_city, dtyp...","99412 RS Name: customer_state, dtype: object"
99413,6928be51d9496f1aab5da8f15a21aba6,5a630e3d4aeb6fca86404481eb19cfe7,"39738 14.07 Name: freight_value, dtype: flo...","99413 13630 Name: customer_zip_code_prefix,...","99413 pirassununga Name: customer_city, dty...","99413 SP Name: customer_state, dtype: object"
99414,eabf770240659f7a6d09b11f12f10f89,9524a52b2633d2f96da98b947c60a4de,"65254 18.64 Name: freight_value, dtype: flo...","99414 19905 Name: customer_zip_code_prefix,...","99414 ourinhos Name: customer_city, dtype: ...","99414 SP Name: customer_state, dtype: object"
99415,184e0c2cfc746789643521df0e9ff904,45b3000bcd10464ac178f32cd783fc83,"30720 54.11 Name: freight_value, dtype: flo...","99415 68660 Name: customer_zip_code_prefix,...",99415 sao miguel do guama Name: customer_ci...,"99415 PA Name: customer_state, dtype: object"
99416,c156d63bdfce1d456bd43cf1c4dadfca,98484b32a3bbf287f3347e001275ed21,"66625 7.96 Name: freight_value, dtype: float64","99416 9060 Name: customer_zip_code_prefix, ...","99416 santo andre Name: customer_city, dtyp...","99416 SP Name: customer_state, dtype: object"
99417,b7c889215de76857c7967c1011125d2d,1a9543c90f188e2e4fb14327ad4a9c9b,11707 30.4 11708 30.4 11709 30.4 1171...,"99417 82410 Name: customer_zip_code_prefix,...","99417 curitiba Name: customer_city, dtype: ...","99417 PR Name: customer_state, dtype: object"
99418,30c96385d694acb8aa2dc0df1770120b,357b4b724bbf34f1d64b1c5dfdc88120,23458 14.1 23459 14.1 Name: freight_valu...,"99418 26112 Name: customer_zip_code_prefix,...","99418 belford roxo Name: customer_city, dty...","99418 RJ Name: customer_state, dtype: object"
99419,a1b5ca506b592bb72d4caadcbfe71385,65f3d65b89d1fdde15dc314858c9c161,"44831 10.96 Name: freight_value, dtype: flo...","99419 17511 Name: customer_zip_code_prefix,...","99419 marilia Name: customer_city, dtype: o...","99419 SP Name: customer_state, dtype: object"
99420,be631308cb609ff74d0e0fb54815e18c,b7ae7c643ef9274727f48dcb0ba08593,"80774 14.52 Name: freight_value, dtype: flo...","99420 36255 Name: customer_zip_code_prefix,...","99420 aracitaba Name: customer_city, dtype:...","99420 MG Name: customer_state, dtype: object"
99421,5eef6cce1f34954c9e7004332388ccc7,9bb5771c04f059c10c1f9783fe164d90,"68120 14.22 Name: freight_value, dtype: flo...","99421 11045 Name: customer_zip_code_prefix,...","99421 santos Name: customer_city, dtype: ob...","99421 SP Name: customer_state, dtype: object"
99422,821a7275a08f32975caceff2e08ea262,49645a8902c1ba980836b7bff991d69f,"32363 7.46 Name: freight_value, dtype: float64","99422 5734 Name: customer_zip_code_prefix, ...","99422 sao paulo Name: customer_city, dtype:...","99422 SP Name: customer_state, dtype: object"
99423,c6ece8a5137f3c9c3a3a12302a19a2ac,52b783557d95971d0b42195e6bacdc68,"36471 7.78 Name: freight_value, dtype: float64","99423 1323 Name: customer_zip_code_prefix, ...","99423 sao paulo Name: customer_city, dtype:...","99423 SP Name: customer_state, dtype: object"
99424,e5ed7280cd1a3ac2ba29fd6650d8867c,53cbf33b674d602f6746cb90a9d874fd,"36891 12.13 Name: freight_value, dtype: flo...","99424 8560 Name: customer_zip_code_prefix, ...","99424 poa Name: customer_city, dtype: object","99424 SP Name: customer_state, dtype: object"
99425,0a7db3996b88954c7aa763b5dd621d5b,d8b354d53fff40dcc80a7e64dbfc2878,"95533 25.66 Name: freight_value, dtype: flo...","99425 52090 Name: customer_zip_code_prefix,...","99425 recife Name: customer_city, dtype: ob...","99425 PE Name: customer_state, dtype: object"
99426,935993f47af1ed7d0715c26b686341c5,e86b1b2dd48839d7351406434afb578d,"102373 12.48 Name: freight_value, dtype: fl...","99426 12236 Name: customer_zip_code_prefix,...",99426 sao jose dos campos Name: customer_ci...,"99426 SP Name: customer_state, dtype: object"
99427,592b8900e0e8325027d885e6d30d0283,60c9450e414b5c1a71cf9034cd62ae29,"42498 13.01 Name: freight_value, dtype: flo...","99427 15720 Name: customer_zip_code_prefix,...","99427 palmeira d'oeste Name: customer_city,...","99427 SP Name: customer_state, dtype: object"
99428,ffa6d90c36a9c7004692ca50761c69d6,2816b0ec050fb4a136c32a6bda007a91,"17492 20.85 Name: freight_value, dtype: flo...","99428 13140 Name: customer_zip_code_prefix,...","99428 paulinia Name: customer_city, dtype: ...","99428 SP Name: customer_state, dtype: object"
99429,1ed0c832c2dd99570a59260e71768bdf,51c6d2f460589fa7b65f2da51e860206,"36068 31.93 Name: freight_value, dtype: flo...","99429 37610 Name: customer_zip_code_prefix,...","99429 bom repouso Name: customer_city, dtyp...","99429 MG Name: customer_state, dtype: object"
99430,27b9b32173455ef32167540451749d0b,326c29ec5b89834b17aea7d85302fd70,"22071 12.13 Name: freight_value, dtype: flo...","99430 6727 Name: customer_zip_code_prefix, ...","99430 cotia Name: customer_city, dtype: object","99430 SP Name: customer_state, dtype: object"
99431,be842c57a8c5a62e9585dd72f22b6338,75c3993b743335fa57b1645f056b59d2,"51787 18.23 Name: freight_value, dtype: flo...","99431 99150 Name: customer_zip_code_prefix,...","99431 marau Name: customer_city, dtype: object","99431 RS Name: customer_state, dtype: object"
99432,f255d679c7c86c24ef4861320d5b7675,ca978d2459ea2c5ef6d5fde02be26b9c,"89196 9.59 Name: freight_value, dtype: float64","99432 13500 Name: customer_zip_code_prefix,...","99432 rio claro Name: customer_city, dtype:...","99432 SP Name: customer_state, dtype: object"
99433,14308d2303a3e2bdf4939b86c46d2679,ec3a75fb0ac595e461765d2d854b1d08,"104017 24.42 Name: freight_value, dtype: fl...","99433 66033 Name: customer_zip_code_prefix,...","99433 belem Name: customer_city, dtype: object","99433 PA Name: customer_state, dtype: object"
99434,f5a0b560f9e9427792a88bec97710212,97d6c1727b0d36b8d04035e35d86f40f,"66447 7.74 Name: freight_value, dtype: float64","99434 7790 Name: customer_zip_code_prefix, ...","99434 cajamar Name: customer_city, dtype: o...","99434 SP Name: customer_state, dtype: object"
99435,7fe2e80252a9ea476f950ae8f85b0f8f,c9aea907527f5d4f5fb44955c18a79fb,"88790 20.88 Name: freight_value, dtype: flo...","99435 35500 Name: customer_zip_code_prefix,...","99435 divinopolis Name: customer_city, dtyp...","99435 MG Name: customer_state, dtype: object"
99436,17ddf5dd5d51696bb3d7c6291687be6f,6760e20addcf0121e9d58f2f1ff14298,"45514 13.88 Name: freight_value, dtype: flo...","99436 3937 Name: customer_zip_code_prefix, ...","99436 sao paulo Name: customer_city, dtype:...","99436 SP Name: customer_state, dtype: object"
99437,e7b71a9017aa05c9a7fd292d714858e8,9ec0c8947d973db4f4e8dcf1fbfa8f1b,"69541 14.16 Name: freight_value, dtype: flo...","99437 6764 Name: customer_zip_code_prefix, ...","99437 taboao da serra Name: customer_city, ...","99437 SP Name: customer_state, dtype: object"
99438,5e28dfe12db7fb50a4b2f691faecea5e,fed4434add09a6f332ea398efd656a5c,"112161 19.04 Name: freight_value, dtype: fl...","99438 60115 Name: customer_zip_code_prefix,...","99438 fortaleza Name: customer_city, dtype:...","99438 CE Name: customer_state, dtype: object"
99439,56b18e2166679b8a959d72dd06da27f9,e31ec91cea1ecf97797787471f98a8c2,"100146 22.07 Name: freight_value, dtype: fl...","99439 92120 Name: customer_zip_code_prefix,...","99439 canoas Name: customer_city, dtype: ob...","99439 RS Name: customer_state, dtype: object"
99440,274fa6071e5e17fe303b9748641082c8,28db69209a75e59f20ccbb5c36a20b90,"17820 7.78 Name: freight_value, dtype: float64","99440 6703 Name: customer_zip_code_prefix, ...","99440 cotia Name: customer_city, dtype: object","99440 SP Name: customer_state, dtype: object"