# Análise de sobre o valor de frete praticado em diferentes regiões

## Dúvida da área de negócios
* **Existe diferença no valor do frete praticado em regiões/cidades diferentes? Ou podemos aplicar as mesmas regras de subsídio de frete para qualquer localidade?**

* **Resposta:**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.offline as py
import plotly.graph_objs as go
from datetime import datetime

In [2]:
%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

## Carregando bases de dados

In [3]:
df_customers = pd.read_csv('../datasets/olist_customers_dataset.csv', encoding='ISO-8859-1')
df_geolocation = pd.read_csv('../datasets/olist_geolocation_dataset.csv', encoding='ISO-8859-1')
df_order_items = pd.read_csv('../datasets/olist_order_items_dataset.csv', encoding='ISO-8859-1')
df_order_payments = pd.read_csv('../datasets/olist_order_payments_dataset.csv', encoding='ISO-8859-1')
df_order_reviews = pd.read_csv('../datasets/olist_order_reviews_dataset.csv', encoding='ISO-8859-1')
df_orders = pd.read_csv('../datasets/olist_orders_dataset.csv', encoding='ISO-8859-1')
df_products = pd.read_csv('../datasets/olist_products_dataset.csv', encoding='ISO-8859-1')
df_sellers = pd.read_csv('../datasets/olist_sellers_dataset.csv', encoding='ISO-8859-1')
df_product_category_name_translation = pd.read_csv('../datasets/product_category_name_translation.csv', encoding='ISO-8859-1')

## Base de Clientes

In [4]:
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

## Base de Lojistas

In [5]:
df_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

## Base de Geolocalizações

In [6]:
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

## Base de Pedidos

In [7]:
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

## Itens do pedido

In [8]:
df_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

## Forma de pagamento de cada pedido

In [9]:
df_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

## Retorno de clientes sobre a compra realizada

In [10]:
df_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela ...,2018-03-01 00:00:00,2018-03-02 10:26:53

## Dados cadastrais de cada produto

In [11]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

## Tradução das categorias de produtos

In [12]:
df_product_category_name_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [13]:
df_orders_freight_value = pd.DataFrame(columns=['customer_id', 'order_id', 'freight_value', 'customer_zip_code_prefix', 'customer_city', 'customer_state'])

In [14]:
for customer_id in df_orders[df_orders['order_status'] == 'delivered']['customer_id']:
    order_id = df_orders[df_orders['customer_id'] == customer_id]['order_id'].unique()[0]
    freight_value = df_order_items[(df_order_items['order_id'] == order_id) & (df_order_items['order_item_id'] == 1)]['freight_value'].values[0]
    customer_zip_code_prefix = df_customers[df_customers['customer_id'] == customer_id]['customer_zip_code_prefix'].values[0]
    customer_city = df_customers[df_customers['customer_id'] == customer_id]['customer_city'].values[0]
    customer_state = df_customers[df_customers['customer_id'] == customer_id]['customer_state'].values[0]
    
    df_orders_freight_value =  df_orders_freight_value.append({'customer_id':customer_id,
                                                               'order_id':order_id,
                                                               'freight_value':freight_value,
                                                               'customer_zip_code_prefix':customer_zip_code_prefix,
                                                               'customer_city':customer_city,
                                                               'customer_state':customer_state}, ignore_index=True)

In [30]:
df_orders_freight_value[df_orders_freight_value['customer_state']=='SP']

,customer_id,order_id,freight_value,customer_zip_code_prefix,customer_city,customer_state
0,9ef432eb6251297304e76186b10a928d,e481f51cbdc54678b7cc49136f2d6af7,8.72,3149,sao paulo,SP
4,8ab97904e6daea8866dbdbc4fb7aad2c,ad21c59c0840e6cb83a9ceb5573f8159,8.72,9195,santo andre,SP
8,31ad1d1b63eb9962463f764d4e6e0c9d,e69bfb5eb88e0ed6a785585b27e16dbf,19.77,18075,sorocaba,SP
10,7711cf624183d843aafe81855097bc37,34513ce0c4fab462a55830c0989c7edb,16.13,4278,sao paulo,SP
12,19402a48fe860416adf93348aba37740,5ff96c15d0b717ac6ad1f3d77225a350,12.80,4812,sao paulo,SP
13,3df704f53d3f1d4818840b34ec672a9f,432aaf21d85167c2c86ec9448c4e42cc,16.11,5271,sao paulo,SP
17,059f7fc5719c7da6cbafe370971a8d70,85ce859fd6dc634de8d2f1e290444043,11.85,13186,hortolandia,SP
19,d2b091571da224a1b36412c18bc3bbfe,203096f03d82e0dffbc41ebc2e2bcfb7,8.96,4001,sao paulo,SP
20,4fa1cd166fa598be6de80fa84eaade43,f848643eec1d69395095eb3840d2051e,8.91,8473,sao paulo,SP
21,72ae281627a6102d9b3718528b420f8a,2807d0e504d6d4894d41672727bc139f,7.78,3323,sao paulo,SP
23,62b423aab58096ca514ba6aa06be2f98,f3e7c359154d965827355f39d6b1fdac,14.21,18052,sorocaba,SP
26,8b212b9525f9e74e85e37ed6df37693e,dd78f560c270f1909639c11b925620ea,12.79,13568,sao carlos,SP
27,cce89a605105b148387c52e286ac8335,91b2a010e1e45e6ba3d133fa997597be,13.69,9182,santo andre,SP
29,456dc10730fbdba34615447ea195d643,f70a0aff17df5a6cdd9a7196128bd354,34.19,5634,sao paulo,SP
31,816f8653d5361cbf94e58c33f2502a5c,989225ba6d0ebd5873335f7e01de2ae7,14.10,5778,sao paulo,SP
33,cf8ffeddf027932e51e4eae73b384059,b276e4f8c0fb86bd82fce576f21713e0,9.41,13454,santa barbara d'oeste,SP
36,295ae9b35379e077273387ff64354b6f,5acce57f8d9dfd55fa48e212a641a69d,15.10,19780,quata,SP
38,3391c4bc11a817e7973e498b0b023158,7206b86ea789983f7a273ea7fa0bc2a8,12.79,4561,sao paulo,SP
40,c7340080e394356141681bd4c9b8fe31,6ea2f835b4556291ffdc53fa0b3b95e8,17.12,19400,presidente venceslau,SP
45,12fd2740039676063a874b9567dfa651,25f4376934e13d3508486352e11a5db0,12.43,12230,sao jose dos campos,SP
47,7f2178c5d771e17f507d3c1637339298,2ce1ad82022c1ba30c2079502ac725aa,15.56,1038,sao paulo,SP
48,9b18f3fc296990b97854e351334a32f6,138849fd84dff2fb4ca70a0a34c4aa1c,13.37,6330,carapicuiba,SP
52,f178c1827f67a8467b0385b7378d951a,e425680f760cbc130be3e53a9773c584,11.85,12070,taubate,SP
54,2932d241d1f31e6df6c701d52370ae02,734e7d1bbaeb2ff82521ca0fe6fb6f79,13.47,3942,sao paulo,SP
56,911e4c37f5cafe1604fe6767034bf1ae,a685d016c8a26f71a0bb67821070e398,14.36,13068,campinas,SP
57,241e78de29b3090cfa1b5d73a8130c72,2edfd6d1f0b4cd0db4bf37b1b224d855,28.15,4658,sao paulo,SP
58,4632eb5a8f175f6fe020520ae0c678f3,68873cf91053cd11e6b49a766db5af1a,11.76,8280,sao paulo,SP
65,4afc1dcca5fe8926fc97d60a4497f8ab,68e48e68da1f50f7c5838ea75e3a20dd,13.25,8220,sao paulo,SP
66,be8c14c16a4d47194ccdfe10f1fc5b1a,b52cc4919de82b4d696a4380d10804a3,12.03,13157,cosmopolis,SP
68,bb2f5e670f7155dc622c57e4b31d0a69,a6aeb116d2cb5013eb8a94585b71ffef,9.34,2346,sao paulo,SP
...,...,...,...,...,...,...
96419,35647e39316747b2bb470dc93ddb67aa,97369eeb115806c27ee2054105eabe97,7.39,5368,sao paulo,SP
96421,47610d89c6fdfac969beb4fa9f5d37f1,da95823b29f9ce7bcc4deebe1e568aff,9.69,9320,maua,SP
96423,39256804b05cde32ac8f5ed003645f6b,aa07fc0f496d65986abc9044683b8800,37.04,2611,sao paulo,SP
96424,6ab5adc744d5c894470ce74466a78a27,07fcf4ec8cadbea34c5b508e35e716c0,19.93,15041,sao jose do rio preto,SP
96425,dbe4e04008988a0694a108eb7ee2e57c,709e863921cdc58bb0582cf305270d72,9.44,2050,sao paulo,SP
96428,fd4d78d4ac99d34e9c5d0f66a4540d8f,0905f7137e1f4f12a50086594c3a3eba,17.14,15993,matao,SP
96433,aaa423fb52f4106f477683490cbd5845,5597332b7eded552f104108f22b023e4,8.97,6449,barueri,SP
96434,6f83c71b6c044fb156d697d4130fe9b5,b3112ca67f3afd4e20cf2ee91fc4f804,24.75,9330,maua,SP
96435,7f3bd6c94d2daf7b6462d1a894a775b4,0fa1fab1d7c1211c824596ed5e111e3c,19.63,3122,sao paulo,SP
96436,7499160b672798870b8d4469ec2e78a4,6f756900677a981dd764c34ad85c4b4c,17.06,3445,sao paulo,SP
96438,6cec2e523363d463153fd692edba1f61,a3480694574e74545579bf7d974318d0,11.85,4520,sao paulo,SP
96439,b87639f5efd3e2316dca5dec5e2f88f4,add4f182072426430ee6c993eab97efe,10.78,5175,sao paulo,SP
96440,960ddf99f2e615bf50ea0cf4e71f526f,41d74f5b8f1fb05bdec674cbba8f720f,11.85,11320,sao vicente,SP
96443,dfbad75de7638cec2c9482cac4a10828,27b6badcdaa36a93808ac126acc05329,7.94,9951,diadema,SP
96444,d32034dfc685b1ae15dd4c78eace868e,7fd85cb0143de098a4c5ab5a57bfbd91,20.73,13520,sao pedro,SP
96445,f93c9e539a9705a57902c625b611e90c,c2af225ac9a68a3c24500aa6fab006aa,12.88,1454,sao paulo,SP
96447,ddfdf5e9b2659e1fbd073404c9b762e0,87b4c933f31145a28413b39d880ad6c3,27.26,2042,sao paulo,SP
96449,eb19f77ffd29917f353d12152b0c0de1,4a69678ecf74bfd34260031c04329b68,13.41,6428,barueri,SP
96450,e0eac226ceae49858de89e8a5c1ba1ec,4146f35ac7a7ef4e39fe344e563c1e3b,12.40,13490,cordeiropolis,SP
96452,609b9fb8cad4fe0c7b376f77c8ab76ad,e8fd20068b9f7e6ec07068bb7537f781,18.12,3318,sao paulo,SP
96453,42b0671b440d1f2527bddd8b723e0a0c,c627fe35fce1a754bc5b812d0b8ff379,16.21,13820,jaguariuna,SP
96456,ce5efd1b1d8a2fa290a871edd5c26cd6,1b4a0e6b19d0034b531655b41ea89623,11.85,11320,sao vicente,SP
96460,ad312389a098ceff46ce92c4595c06d0,38e9133ce29f6bbe35aed9c3863dce01,11.85,14802,araraquara,SP
96462,82ddfcf9438b0cd1117b55ac33184df8,d692ef54145c9cb3322ec2e5508aa3f4,36.86,13272,valinhos,SP
96464,cf97e9cf454480b303de6736ddd15fd6,19dba6d1e58b04e7fc820558a38ea398,8.79,8550,poa,SP
96465,6e153567dc52ea59c0498ef5383e9c7a,c22a47117b6a87c967b0c278488110c1,16.06,13218,jundiai,SP
96466,2e96fa6d55b9732013caed9866e2552d,0e4b26f1fb99fc0f0472dd5f403d36d4,9.94,1308,sao paulo,SP
96472,47cd45a6ac7b9fb16537df2ccffeb5ac,880675dff2150932f1601e1c07eadeeb,16.09,5127,sao paulo,SP
96473,39bd1228ee8140590ac3aca26f2dfe00,9c5dedf39a927c1b2549525ed64a053c,13.08,12209,sao jose dos campos,SP
96474,1fca14ff2861355f6e5f14306ff977a7,63943bddc261676b46f01ca7ac2f7bd8,20.10,11722,praia grande,SP

In [16]:
df_orders_freight_value.to_csv('../datasets/df_orders_freight_value.csv')

In [19]:
round(df_orders_freight_value['freight_value'].mean(),2)

20.16

In [21]:
round(df_orders_freight_value['freight_value'].std(),2)

15.8

In [22]:
round(df_orders_freight_value['freight_value'].var(),2)

249.68

In [ ]:
sns.regplot(data=df_orders_freight_value, x='customer_zip_code_prefix', y='freight_value', color="black")